doctype html

html(lang="en")
head
  meta(charset="utf-8")

  title Bubu the guide
  meta(name="description" content="This is Bubu's website")
  meta(name="author" content="Betty")

  link(href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet")
  link(rel="stylesheet" href="../styles/reset.css" media="screen")
  link(rel="stylesheet" href="../styles/contact.css" media="screen")

include ../templates/menu.pug

header contact page

main contact page main